@mixin btn{
    height: 45px;
    box-sizing: border-box;
    border: 1px solid #31BA8B;
    background: none;
    color: #31BA8B;
    font-size: 22px;
    font-weight: 400;
    &:hover{
        background: rgba($color: #FAFAFA, $alpha: 0.8);
    }
    i{
        margin-right: 6px;
        font-size: 22px;
    }
}
@mixin btn-primary {
    background: #31BA8B;
    color: white;
    &:hover{
        background: rgba($color: #31BA8B, $alpha: 0.8);
    }
}
.report{
    width: 100%;
    height: 914px;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
    background: white;
    .el-button{
        @include btn
    }
    .el-button.primary{
        @include btn-primary
    }
    h4.router-name{
        text-align: left;
        line-height: 50px;
        font-size: 24px;
        color: #626262;
        font-weight: 400;
        border-bottom:1px solid #31BA8B;
        .icon{
            display: inline-block;
            width: 5px;
            height: 31px;
            margin-right: 13px;
            margin-left: 8px;
            background: #31BA8B;
            vertical-align: middle;
        }

    }
    h3{
        margin-bottom: 20px;
        padding-left: 14px;
        text-align: left;
        font-size:22px;
        color: #9EE5F3;
    }
    .operation{
        height: 45px;
        margin: 26px 0;
        position: relative;
        li{
            margin-left: 10px;
            .label{
                font-size: 22px;
                margin-right: 10px;
                color: #333333;
            }
            /* .el-select{
                width: 100px;
                height: 46px;
            } */
            .search-input{
                width: 230px;
            }
            .el-input{
                width: 230px;
            }
            .el-input__inner{
                width:100%;
                height:46px;
                background:#FAFAFA;
                border:1px solid rgba(220, 220, 220, 1);
                border-radius:3px;
                color: #333333;
                font-size: 22px;
    
            }
            .el-input__suffix{
                line-height: 46px;
            }
            .el-date-editor--daterange{
                width: 250px;
                .el-range-input{
                    background: none;
                    color: white
                }
            }
        }
/*         li+li{
            margin-left: 10px;
        } */
    }
    .table-content{
        height: 621px;
        overflow: hidden;
        .el-table--border{
            border-right: 1px solid ;
        }
        .el-table{
            border-color: #31BA8B;
            .el-table-header{
                height:52px;
            }
            background: none;
            th{
                font-size:22px;
                font-weight: 400;
                background:#EFEFEF!important;
                color:#2C2C2C;
                text-align: center!important;
                border-color: #31BA8B;
            }
            td{
                height: 56px;
                line-height: 56px;
                padding: 0px!important;
                text-align: center!important;
                color: #2C2C2C;
                font-size: 22px;
                border-color: #31BA8B;
                a{
                    color:#2C2C2C;
                }
                span{
                    cursor: pointer;
                }
                span+span{
                    margin-left: 16px;
                }
            }
            &::before{
                display: none;
            }
            .el-table__empty-block{
                border-bottom: 1px solid #31BA8B;
            }
        }
    }
    .pagination{
        height: 38px;
        margin-top: 30px;
        display: flex;
        align-items: center;
        color: #31BA8B;
        >div{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 6px;
            cursor: pointer;
            white-space: nowrap;
            .icon-border{
                width: 1px;
                height: 19px;
                background:#31BA8B ;
            }
            .iconfont{
                font-size: 20px;
                font-weight: bold;
            }
        }
        .input{
            >span{
                color: #666666;
                font-size: 20px;
            }
            .el-input{
                margin: 0 8px;
                &__inner{
                    width:60px;
                    height:38px;
                    background:rgba(223,251,236,1);
                    border:1px solid rgba(49, 186, 139, 1);
                    border-radius:2px;
                }
            }
        }
        .btn{
            width: 47px;
            height:100% ;
            border:1px solid rgba(224, 224, 224, 1);
            border-radius:4px 4px 4px 4px;
            
        }
        .btn.disable{
            cursor: not-allowed;
        }
    }
}
//弹出框
.zw-dialog{
    .el-dialog{
        border-radius: 4px;
        &__header{
            height:52px;
            box-sizing: border-box;
            background:#31BA8B;

            .el-dialog__title{
                color: white;
            }
            .el-dialog__close{
                font-size: 24px;
                color: white;
            }
        }
        &__body{
            padding: 14px 10px;
            background:white;
            .el-form{
                &-item{
                    &__label{
                        width: 100px;
                        color: #333333;
                    }
                }
            }
            .label{
                width: 100px;
                padding: 0 12px 0 0;
                display: inline-block;
                color: #333333;
                text-align: right;
                box-sizing: border-box;
            }
            .el-input{
                width: 248px;
                &__inner{
                    width:100%;
                    height:47px;
                    background:rgba(250,250,250,1);
                    border:1px solid rgba(220, 220, 220, 1);
                    border-radius:3px;
                }
            }
            .row{
                .el-input{
                    width: 514px;
                }
            }
            .el-form-item__error{
                // left: 120px;
                left: 50%;
                transform: translateX(-50%);
            }
            .block.el-input,.block.el-textarea{
                width: 514px;
            }
            .unit.el-input.el-input--suffix{
                .el-input__suffix{
                    height: 40px;
                    line-height: 40px;
                    top: 1px;
                    right: 1px;
                    padding: 0 6px;
                    background: #0f4277
                }
            }
            .block{
                .el-input{
                    width: 514px;
                }
            }
            .block.el-textarea{
                height: 94px;
                .el-textarea__inner{
                    height: 100%;
                    background: #092D53;
                    border:1px solid rgba(158, 229, 243, 0.27);
                    color: #9EE5F3;
                }
            }
            .el-checkbox{
                color: #9EE5F3
            }
            .el-checkbox__inner{
                background-color: white;
                border-color: #DCDCDC;
            }
            .el-checkbox__input.is-checked .el-checkbox__inner, 
            .el-checkbox__input.is-indeterminate .el-checkbox__inner{
                background-color: #31BA8B;
                border-color: #31BA8B
            }
            .str-length{
                position: absolute;
                top: 60px;
                right: 30px;
            }
        }
        &__footer{
            height: 74px;
            .el-button{
                @include btn
            }
            .el-button.primary{
                @include btn-primary
            }
        }
    }
}
.el-message-box{
    border:none!important;
    border-color: transparent!important;
    background: none!important;
    padding-bottom:0!important
}
.el-message-box__header{
    background:#31BA8B !important;
    .el-message-box__title{
        color: white!important;
    }
}
.el-message-box__content{
    padding:20px!important;
    color: #333333!important;
    background:white !important;
}
.el-message-box__btns{
    padding:16px;
    background:white!important;
    .el-button:first-of-type{
        float: right;
        margin-left: 10px;
    }
    .el-button{
        color: #31BA8B;
        border:1px solid #31BA8B;
        background: white
    }
}
.red{
    color: #FC0404
}
.height-100{
    height: 100%;
}
//el-inupt
